.back-button {
    margin-bottom: 20px;
  }

  .cart-button {
    margin-top: 20px;
  }

  
  .card {
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
  .card-img-top {
    object-fit: cover;
    height: 300px; /* Adjust the height based on your needs */
  }