<div class="container">
  <button type="button" class="back-button btn btn-outline-secondary" (click)="goBack()"> 
    <i class="bi bi-arrow-left"></i>
  </button>

  <div class="d-flex flex-nowrap">
    <img src="{{product.image}}" class="img-fluid custom-image">
    <div class="align-self-center">
      <h3 class="card-title">{{product.name}}</h3>
      <br>
      <p class="card-title">{{product.summary}}</p>
      <div class="d-flex justify-content-start">
        <button type="button" class="cart-button btn btn-outline-dark" (click)="addToCart()"> 
         {{cartButtonText}} </button>
      </div>
    </div>
  </div>
</div>