

.search-bar {
    margin-bottom: 20px;
  }

  .product-list {
    margin-bottom: 20px;
  }

  .product-list .card {
    width: 250px;
    margin-top: 20px;
  }

  .select {
    margin-right: 20px;
  }

  .card {
    width: 100%;
    height: 95%;
  }

  .custom-image {
    width: 35%;
    height: auto;
  }
  

  .custom-input{
    margin-right: 20px;
  }

  