.order-button{
    margin-top: 20px;
}
.number-input{
    margin-right: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 768px) {
  .line {
    border-top: 2px solid black;
  }
}

@media (max-width: 576px) {
  .line {
    border-top: 1px dashed black;
  }
}
